@font-face {
	font-family: PlayfairDisplay;
	src: url(https://fonts.gstatic.com/s/playfairdisplay/v30/nuFvD-vYSZviVYUb_rj3ij__anPXJzDwcbmjWBN2PKdFvXDXbtM.woff2);
}

* {
	font-family: PlayfairDisplay;
}